.news {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px 20px 0 20px;
    background-color: #e0e0e0;
    margin-top: 20px;
}

.news .event-date {
    font-weight: bold;
    margin-top: 5px;
}

.lastNewsPortlet .event-date {
    font-size: 0.9em;
    margin-top: 3px;
}

.lastNewsPortlet .title {
    font-weight: bold;
}

.lastNewsPortlet .text hr {
    border-bottom: 1px dashed black;
}

.news h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.news hr {
    border-bottom: 1px dotted gray;
    margin-left: 5%;
    margin-right: 5%;
}

.news .content {
    padding-left: 10px;
    padding-bottom: 10px;
}

.frontend-search-form {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #dfefff;
    border-radius: 5px;
}

.search-button {
    margin-top: 12px;
    float: right;
}

.news-navigation-links {
    margin-top: 15px;
}

.disabled {
    text-decoration: line-through;
}