/* Styles spécifiques à cette application (hors modules) */

.main-menu-logo {
    float: left;
    margin-top: -6px;
    margin-right: 10px;
}

div.required label.control-label:after,
div.required div.checkbox label:after,
th.required label:after,
td.required label:after,
label.required:after {
    content: "* ";
    color: #FF0000;
    margin-left: 7px;
}

.request-new-password {
    margin-top: 20px;
}

.request-new-confirmation-link {
    margin-top: 20px;
}

.explications {
    margin-top: 40px;
    font-size: 0.9em;
    color: darkgray;
}

.bloc-texte {
    border: 1px solid gray;
    padding: 10px;
}

.regex-str {
    color: #3875d7;
    font-style: italic;
    margin-left: 30px;
}

.memo-question {
    font-weight: bold;
    size: 1.2em;
    color: darkorange;
}

.memo-titre {
    font-weight: bold;
    size: 1.2em;
}

.memo-action-menus {
    font-style: italic;
}
